[package]
name = "indi"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
quick-xml = "~0.23.0"
chrono = "0.4"
encoding = "0.2"
base64 = "0.13.0"

