[package]
name = "indi"
description = "Client library for interfacing with the Instrument Neutral Distributed Interface (INDI) protocol."
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

homepage = "https://github.com/cconstantine/twinkle/tree/master/indi"
repository = "https://github.com/cconstantine/twinkle/"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
quick-xml = {version="~0.26.0", features=["encoding"]}
chrono = "0.4"
encoding = "0.2"
base64 = "0.13.0"
log = "0.4.17"
derivative = "2.2.0"

[dev-dependencies]
bytes = "1.2.1"

